  <style type="text/css">
            body {font-family:Arial, Sans-Serif;}
            #container {width:300px; margin:0 auto;}
			
            form .line {clear:both;}
            form .line.submit {text-align:right;}
			
		
        </style>